version: "3.9"

services:

  grafana-pdc-agent:
    image: grafana/pdc-agent:latest@sha256:87b91f16471698876e52ac3c00976fbe396eba8d01ea277fb178c7d782f296a5
    #entrypoint: [ /usr/bin/pdc  ]
    command: [ -token, $GRAFANA_CLOUD_PDC_TOKEN,
               -cluster, $GRAFANA_CLOUD_PDC_CLUSTER,
               -gcloud-hosted-grafana-id, $GRAFANA_CLOUD_PDC_ID ]

    #           -domain, $GRAFANA_CLOUD_PDC_DOMAIN ]

  # https://hub.docker.com/_/postgres
  postgres-server:
    image: postgres:latest@sha256:69e8582b781cb44fa4557b98ed586fe68361e320d9b12f9707494335634f4f3d
    depends_on:
      - grafana-pdc-agent
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=welcome1 
    volumes:
      - "./dvdrental.tar:/dvdrental.tar"
      - "./ctl.sh:/ctl.sh"
      - "./sql-test1.sql:/sql-test1.sql"
      - "./postgres/postgresql.conf:/postgresql.conf"
      #- "./logs/:/var/log/postgresql/"
    entrypoint: [ ./ctl.sh ]
    command: [ run ]
    #command: [ sleep ]
      
  # Grafana Metrics
  mimir:
    image: grafana/mimir:latest@sha256:df4b7a5fefba96c19fa3e0b3d3ecceed32892ef49ae893ce37492cfe4f299645
    depends_on:
      - grafana-pdc-agent 
    volumes:
      - "./mimir/config-single.yaml:/etc/mimir/config.yaml"
    ports:
      - "9009:9009"
    command: [
      "-config.file=/etc/mimir/config.yaml"
    ]

    # Grafana Agent
  grafana-agent:
    image: grafana/agent:latest@sha256:b0038b7fa776c3e3e3bc2b09b08c287e8041324217efa6f0c9a78a007bd63e95
    depends_on:
      - mimir
    ports:
      - "12345:12345"
      - "3500:3500"
      - "16603:16603"
    volumes:
      - "./grafana-agent/config.yaml:/etc/agent/agent.yaml"
    command: [
      "-config.file=/etc/agent/agent.yaml",
      "-server.http.address=0.0.0.0:12345",
    ]


      
