version: "3.9"

services:

  # https://hub.docker.com/_/postgres
  postgres-server:
    image: postgres:latest@sha256:69e8582b781cb44fa4557b98ed586fe68361e320d9b12f9707494335634f4f3d
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=welcome1 
    volumes:
      - "./dvdrental.tar:/dvdrental.tar"
      - "./ctl.sh:/ctl.sh"
      - "./postgres/postgresql.conf:/postgresql.conf"
      - "./logs/:/var/log/postgresql/"
    entrypoint:
      - "/ctl.sh"
      - "run"
      #- "sleep"


  # https://www.adminer.org/
  # Login localhost:8080 PostgreSQL / postgres-server / postgres / welcome1
  adminer:
    image: adminer@sha256:2fb88b98da9f0ae0157d8fcb73f447a0747b09ee8d2ff8a8e0695b30afed2116
    restart: always
    ports:
      - 8080:8080

  # Generate Prometheues Metrics from PostgresSQL
  # https://github.com/prometheus/client_python
  postgres-metrics:
    image: postgres-metrics/postgres-metrics
    build: ./postgres-metrics
    deploy:
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3600
        window: 30s
    environment:
      - PROMTHEUS_HTTP_PORT=8001
    ports:
      - "8001:8001"
    command: [ "7200", "60", "15", "postgres-server" ]

  # Grafana Agent
  # https://grafana.com/docs/agent/latest/
  grafana-agent:
    image: grafana/agent:latest@sha256:b0038b7fa776c3e3e3bc2b09b08c287e8041324217efa6f0c9a78a007bd63e95
    ports:
      - "12345:12345"
      - "12346:12346"
    volumes:
      - "./configured-config-cloud.yaml:/etc/agent/agent.yaml"
      - "./logs/:/logs"
    command: [ "-config.file=/etc/agent/agent.yaml" ]