version: "3.8"
volumes:
  grafana:
  postgres:

services:

  # Grafana for exploring and visualizing data
  grafana-server:
    image: grafana/grafana-enterprise:latest-ubuntu@sha256:ff80aec107ee6bca728a29df3b52e6ccd958dd1841d001ae95f7e866b885bd69
    #image: grafana-enterprise:main-ubuntu
    #image: grafana/grafana:9.0.6-ubuntu
    #image: grafana/grafana:latest
    #image: grafana/grafana:8.2.1
    #image: grafana/grafana:8.5.6
    #restart: always
    volumes:
      - "./grafana/grafana.ini:/etc/grafana/grafana.ini"
      - "./grafana/provisioning:/etc/grafana/provisioning"
      - "/tmp/container-tmp:/tmp/container-tmp"
    ports:
      - "3000:3000"

  # Grafana Metrics
  mimir:
    image: grafana/mimir:latest@sha256:df4b7a5fefba96c19fa3e0b3d3ecceed32892ef49ae893ce37492cfe4f299645
    depends_on:
      - grafana-server
    volumes:
      - "./mimir/config-single.yaml:/etc/mimir/config.yaml"
    ports:
      - "9009:9009"
    command: [
      "-config.file=/etc/mimir/config.yaml"
    ]

  # Grafana logs
  loki:
    image: grafana/loki:latest@sha256:3c8fd3570dd9219951a60d3f919c7f31923d10baee578b77bc26c4a0b32d092d
    depends_on:
      - grafana-server
    ports:
      - "3100:3100"
    volumes:
      - "./loki/config.yaml:/etc/loki/local-config.yaml"
  
  # GoLang K6 Container with xk6-loki client
  # https://grafana.com/docs/loki/latest/send-data/k6/
  go-k6:
    image: go-k6:latest
    build: ./go-k6
    environment:
      - TZ=America/Los_Angeles
    volumes:
      - "./k6-scripts/loki1.js:/home/test/loki1.js"
    entrypoint: [ "sleep", "1209600" ]

 