version: "3.8"
volumes:
  grafana:

services:

  # Grafana Enterprise
  grafana-server:
    image: grafana/grafana-enterprise@sha256:582fc54fb34a09bf3ecd8ac2196e16705a893582eb460e25db0d37c0b2bb19c4
    container_name: grafana-server
    environment:
      - GF_INSTALL_PLUGINS=grafana-splunk-datasource
    volumes:
      - "./grafana/grafana.ini:/etc/grafana/grafana.ini"
      #- "./grafana/provisioning:/etc/grafana/provisioning"
      - "./ge-license.jwt:/var/lib/grafana/license.jwt"
    ports:
      - "3000:3000"

   # Splunk Enterprise
  splunk-enterprise:
    image: splunk/splunk:latest@sha256:4cb755f47d65a8856cd2c5745062e23bbf63dcdf63ad885017fc8c6b0023efb0
    container_name: splunk-enterprise
    environment:
      - SPLUNK_START_ARGS=--accept-license
      - SPLUNK_PASSWORD=welcome1
    ports:
      - "8000:8000"
      - "8065:8065"
      - "8088-8089:8088-8089"
      - "8191:8191"
      - "9887:9887"
      - "9997:9997"




 